@import "tailwindcss";
body{
    background-color: #80cbc4;
}
.sheldon{
background-image: url('src/assets/backkk.png');   
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
a.active{color: rgb(246, 255, 0);font-size: 18px;}
.hscan{
    background-image: url('src/assets/papergreen.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}
